dd {
   display: block;
   margin-right: 40px;
}

table.collapse {
   border-collapse: collapse;
}

body {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}