.hover:hover {
 font-size-adjust: 0.58;
 color: rgb(0, 225, 255);
}


.banner {
 background-color: black;
}

.banner.owl-banner{
 background-color: #FEFADC;

}

.text-align.center {
 text-align: center;
 
}

#Background-White {
  Background-color:white

}



/* Start Of Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 
  border-radius 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

body {
  overflow-y: scroll;
  /* Show vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

/* End Of Scrollbar */

.scroll-box {
  width: 280px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.scroll-box.inbox {
  width: 280px;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}

.scroll-box.super-small {
  width: 150px;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}


.scroll-box li {
  width: 300px;
  text-align: left;
}
.scroll-box p {
  width: 300px;
  text-align: left;
}
.scroll-box H3 {
  width: 300px;
  text-align: left;
}
