/* start of fromating*/
table,tr,th,td {
   border: 2px solid #787878;
   border-collapse: collapse;
}


table {
   width: 50%;
   position: relative;
   left: 30px;
   font-family: verdana;
}


th {
   width: 50%;
}

th,td {
   padding-left: 6px;
   padding-right: 6px;
}


/* start of coloring*/
tr:nth-child(even) {
   background-color: white;
}

.FNLNG1G2G3ALG {
   background-color: lightgrey;

}


/* text-align center */
td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7) {
   text-align: center;
}

h3 {
   text-align: center;
}